


input.pw {
    -webkit-text-security: disc;
}
body {
    background-color: #696969;
}

.bg-1 {
    background-color: #b4b6b1;
    color: #ffffff;
}

.bg-2 {
    background-color: #696969;
    color: #ffffff;
    display: block;
}

.bg-3 {
    background-color: #696969;
    color: #ffffff;
    display: block;
}
.colorForm{
    color: white;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.mqttenable{

}
.navbar {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.margin {
    margin-bottom: 45px;
}
.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}